.footer.site
  cnt()
  border-top 3px double #bbb
  padding: 1em 0 3em
  ul
    padding: 0 .5em
    li
      float: right
      padding: 0 .5em
      line-height 20px
      font-size: 85%
      &.copyright
        float: left
      &.facebook
        margin: 1px 0

