.footer.site
  cnt()
  border-top 3px double #bbb
  padding: 1em 0 3em
  ul
    padding: 0 .5em
    li
      float: left
      padding: 0 .5em
      line-height 20px
      font-size: 85%
      &.facebook, &.twitter
        float: right
        margin: 1px 0

