header.site
  border-bottom 3px double #bbb
  clear()
  padding: 1em 0 5em
  h1 
    col 120
    a
      font 1.25em serif
      line-height: m*5
      text-transform: uppercase
      color txt
      padding-left: 0 1em

  nav.site
    col 240
    ul
      float: right
      li
        float: left
        &.inactive
          a
            color #ddd
        a
          display block
          padding: 0 1em
          font 75% serif
          line-height m*5
          text-transform uppercase
          position relative
         
