.header.site
  border-bottom 3px double #bbb
  clear()
  padding: 1em 0 1em
  h1 
    col 120
    a
      padding-top: 6em
      display: block

  .nav.site
    col 240
    ul
      float: right
      li
        float: left
        &.inactive
          a
            color #ddd
        a
          display block
          padding: 0 1em
          font 75% serif
          line-height m*5
          text-transform uppercase
          position relative
         
